button {
    font-family: "HackedRegular";
    font-size: 20px;
    height: 50px;
}

.pagenews {
    width: 100%;
    height: 100%;
    background: #cdebf4;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    
}

.pagenews::before{
    content: '<';
    font-size: 30px;
    text-align: start;
    margin: 0 0 0 10px;
    font-weight: bold;
}

.pagenews::after {
    content: '/>';
    font-size: 30px;   
    text-align: end;
    margin: 0 10px 10px 0;
    font-weight: bold;
}

.pagenews_title {
    margin: -30px 45px 0 50px
}

.pagenews_title h2 {
    margin: 0 0;
}

.pagenews_author {
    margin: 0 0 0 50px; 
}



.pagenews_link_date {
    display: flex;
    justify-content: space-evenly;
}

.link span a {
    text-decoration: none;
}

.pagenews_comment{
    margin: 0 45px -30px 0;
    text-align: end;
}

.button_comments  {
    text-align: center;
    margin: 0 0 10px 0;
}