.main {
    margin-top: 100px;
}

.container {
    width: 1000px;
    margin: 10px auto 0 auto;
}

.load {
    text-align: center;
    font-size: 100px;
    font-family: "HackedRegular";
    display: flex;
    flex-direction: column;
    align-items: center;
}


